language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t riccardo1976/udemy-docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true riccardo1976/udemy-docker-react npm run test
